<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="mytable">

    <table id="testtable" class="table">
        <thead>
        <tr>
            <th>INC</th>
            <th>Raised by</th>
            <th>Priorityy</th>
            <th>Assigned to</th>
            <th>Cause of failure</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td><div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div></td>
            <td><div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div></td>
            <td><div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div></td>
            <td><div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div></td>
            <td><div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div></td>
            <td><div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div></td>
        </tr>

        </tbody>
    </table>

</div>


<script th:src="@{jquery.min.js}"></script>
<script th:src="@{script.js}"></script>
</body>
</html>