<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{style.css}">

    <title>Document</title>
</head>
<body>

    <header>
        <section class="banner">
            <img th:src="@{udpp.png}" alt="saf-logo"> <h5>Welcome to Unified Data Portal</h5>
        </section>
<nav class="nav-bar">
<div class="navlinks">
    <img th:src="@{saflogo.png}" alt="saf-logo">
    <div>
        <label id="nav-toggle">&#9776;</label>
    </div>
</div>
<div class="profile-section">
    <div class="icon">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    <span>Kennedy Mwangi</span>
</div>
</nav>
    </header>

    <div class="sidenav">
        <ul>
            <li class="active" data-display="#ftth2"><a><span><i class="fa fa-cloud"></i></span><span>All tickets</span></a></li>
            <li data-display="#ftth"><a><span><i class="fa fa-cloud"></i></span><span>Ftth</span></a></li>
            <li data-display="#ran"><a><span><i class="fa fa-university" aria-hidden="true"></i></span><span>Ran</span></a></li>
            <li data-display="#vas"><a><span><i class="fa fa-rss" aria-hidden="true"></i></span><span>Vas</span></a></li>
            <li data-display="#socit"><a><span><i class="fa fa-braille" aria-hidden="true"></i></span><span>Soc-IT</span></a></li>
            <li data-display="#coreps"><a><span><i class="fa fa-rss" aria-hidden="true"></i></span><span>Core-PS</span></a></li>
            <li data-display="#corecs"><a><span><i class="fa fa-braille" aria-hidden="true"></i></span><span>Core-CS</span></a></li>
            <li data-display="#nps"><a><span><i class="fa fa-university" aria-hidden="true"></i></span><span>NPS</span></a></li>
        </ul>
                </div>

    <main>

        <div class="active" th:insert="fragments/home :: home-fragment" data-propagate id="ftth2"></div>
        <div  th:insert="fragments/ftth :: ftth-fragment" data-propagate id="ftth"></div>
        <div th:insert="fragments/corecs :: corecs-fragment" data-propagate id="corecs"></div>
        <div th:insert="fragments/coreps :: coreps-fragment" data-propagate id="coreps"></div>
        <div th:insert="fragments/nps :: nps-fragment" data-propagate id="nps"></div>
        <div th:insert="fragments/ran :: home-fragment" data-propagate id="ran"></div>
        <div th:insert="fragments/socit :: socit-fragment" data-propagate id="socit"></div>
        <div th:insert="fragments/vas :: vas-fragment" data-propagate id="vas"></div>

    </main>
    <script th:src="@{jquery.min.js}"></script>
<script th:src="@{script.js}"></script>

</body>
</html>