<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{style.css}">

    <title>Document</title>
</head>
<body>

    <header>
<nav class="nav-bar">
<div class="navlinks">
    <img th:src="@{saflogo.png}" alt="saf-logo">
    <div>
        <label id="nav-toggle">&#9776;</label>
    </div>
</div>

<div class="profile-section">
    <div class="icon">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    <span>Kennedy Mwangi</span>
</div>

</nav>
    </header>

    <div class="sidenav">

        <ul>
            <li><a><span><i class="fa fa-cloud"></i></span><span>Ftth</span></a></li>
            <li><a><span><i class="fa fa-university" aria-hidden="true"></i>
</span><span>Ran</span></a></li>
            <li><a><span><i class="fa fa-rss" aria-hidden="true"></i>
</span><span>Vas</span></a></li>
            <li><a><span><i class="fa fa-braille" aria-hidden="true"></i>
</span><span>Soc-IT</span></a></li>
            <li><a><span><i class="fa fa-rss" aria-hidden="true"></i>
</span><span>Core-PS</span></a></li>
            <li><a><span><i class="fa fa-braille" aria-hidden="true"></i>
</span><span>Core-CS</span></a></li>
            <li><a><span><i class="fa fa-university" aria-hidden="true"></i>
</span><span>NPS</span></a></li>
        </ul>
                </div>

    <main class="layout-wrapper">

        <div class="my-card">
            <div class="p0">

                <h5>P0</h5>
                <h3>0</h3>
            </div>
        </div>


<div class="my-card">
    <div class="p1">

<h5>P1</h5>
<h2>4</h2>

    </div>
</div>

<div class="my-card">
    <div class="p2">
        <h5>P2</h5>
        <h2>2</h2>

    </div>
</div>

<div class="my-card">
    <div class="p3">
        <h5>P3</h5>
        <h2>1</h2>

    </div>
</div>

<div class="my-card">
    <div class="p4">
        <h5>P4</h5>
        <h2>14</h2>

    </div>
</div>


        <div class="tab-view">
           <div class="tab-button">
               <div class="active b1" data-target="#table">Dashboard 1</div>
           </div>
            <div class="tab-button">
                <div class="b1" data-target="#graph">Dashboard 2</div>
            </div>
        </div>

        <div class="tab-content">

            <div id="table" data-content class="active">

                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr th:onclick="hello()">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="graph" data-content>
                This is my second div::::
            </div>

        </div>

    </main>

<script th:src="@{script.js}"></script>
</body>
</html>